@font-face {
  font-family: 'BryantProBold';
  src: url('../fonts/BryantWebBold.eot');
  src: url('../fonts/BryantWebBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BryantWebBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'BryantProMedium';
  src: url('../fonts/BryantWebMedium.eot');
  src: url('../fonts/BryantWebMedium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BryantWebMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'BryantProLight';
  src: url('../fonts/BryantWebLight.eot');
  src: url('../fonts/BryantWebLight.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BryantWebLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
    font-family: 'BryantProRegular';
  src: url('../fonts/BryantWebRegular.eot');
  src: url('../fonts/BryantWebRegular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BryantWebRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BryantProRegularItalic';
  src: url('../fonts/BryantWebRegularItalic.eot');
  src: url('../fonts/BryantWebRegularItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BryantWebRegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: "FontAwesome";
    src: url("../fonts/fontawesome-webfont.eot");
    src: url("../fonts/fontawesome-webfont.eot?#iefix") format('eot'), url("../fonts/fontawesome-webfont.woff") format('woff'), url("../fonts/fontawesome-webfont.ttf") format('truetype'), url("../fonts/fontawesome-webfont.svg#FontAwesome") format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "WookIcones";
    src: url("../fonts/wook_icones.eot");
    src: url("../fonts/wook_icones.eot?#iefix") format('eot'), url("../fonts/wook_icones.woff") format('woff'), url("../fonts/wook_icones.ttf") format('truetype'), url("../fonts/wook_icones.svg#wook_icones") format('svg');
    font-weight: normal;
    font-style: normal;
}


